html, body { height: 100%; }

.wrapper {
  position: relative;
  height: 100%;
  background-color: #3cbcfc;
}
.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 300px 300px;
  color: #4F28FF;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
  
}
.none-active{
  display: none;
}
.gs {
  background-image: url('../img/gs.png');
  background-repeat: no-repeat;
  background-position: 9999px 9999px;
}
* {
  cursor: url('../img/aim.png'), crosshair;
}
.foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 226px;
  background: url('../img/bg.png') 0 0 repeat-x;
}
.dog {
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 166px;
  height: 122px;
  -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
  transition: transform 4s linear;
}
.dog_walk {
  animation-name: dog-walk;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, end);
  animation-delay: 0s;
  -ms-transform: translate(45vw, 0px);
      transform: translate(45vw, 0px);
  transition: transform 6s linear;
}
.dog_jump {
  width: 161px;
  height: 143px;
  animation-name: dog-jump;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1, end);
  animation-delay: 0s;
  -ms-transform: translate(48vw, -80px);
      transform: translate(48vw, -80px);
  transition: transform .5s linear .5s;
}
@keyframes dog-walk {
  0% {
    background-position: -24px -24px;
  }
  25% {
    background-position: -206px -24px;
  }
  50% {
    background-position: -388px -24px;
  }
  75% {
    background-position: -570px -24px;
  }
  100% {
    background-position: -24px -24px;
  }
}
@keyframes dog-jump {
  0% {
    background-position: -746px -6px;
  }
  25% {
    width: 101px;
    height: 96px;
    background-position: -932px -59px;
  }
  100% {
    width: 101px;
    height: 96px;
    background-position: -932px -59px;
  }
}
.duck {
  position: absolute;
  bottom: 226px;
  left: 0;
  display: none;
}
.duck_fly {
  display: block !important;
  transition: left 2s linear;
}
.duck_fly_left,
.duck_fly_top_left,
.duck_fly_right,
.duck_fly_top_right {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, end);
  animation-delay: 0s;
}
.duck_fly_left {
  animation-name: duck-fly-left;
}
.duck_fly_top_left {
  animation-name: duck-fly-top-left;
}
.duck_fly_right {
  animation-name: duck-fly-right;
}
.duck_fly_top_right {
  animation-name: duck-fly-top-right;
}
@keyframes duck-fly-left {
  0% {
    width: 102px;
    height: 72px;
    background-position: -542px -203px;
    top: 100px;
    left: 1000px;
  }
  15% {
    width: 102px;
    height: 72px;
    background-position: -542px -203px;
    top: 100px;
    left: 850px;
  }
  25% {
    width: 104px;
    height: 61px;
    background-position: -956px -212px;
    top: 100px;
    left: 700px;
  }
  35% {
    width: 104px;
    height: 61px;
    background-position: -956px -212px;
    top: 100px;
    left: 550px;
  }
  50% {
    width: 104px;
    height: 61px;
    background-position: -542px -203px;
    top: 100px;
    left: 450px;
  }
  65% {
    width: 104px;
    height: 61px;
    background-position: -956px -212px;
    top: 100px;
    left: 250px;
  }
  75% {
    width: 104px;
    height: 61px;
    background-position: -956px -212px;
    top: 100px;
    left: 150px;
  }
  85% {
    width: 104px;
    height: 61px;
    background-position: -956px -212px;
    top: 100px;
    left: 100px;
  }
  100% {
    width: 102px;
    height: 72px;
    background-position: -542px -203px;
  }
}
@keyframes duck-fly-top-left {
  0% {
    width: 74px;
    height: 95px;
    background-position: -116px -176px;
    left: -100px;
  }
  15% {
    width: 74px;
    height: 95px;
    background-position: -116px -176px;
    top: 370px;
    left: 900px;
  }
  25% {
    width: 104px;
    height: 95px;
    background-position: -434px -182px;
    top: 300px;
    left: 800px;
  }
  35% {
    width: 104px;
    height: 95px;
    background-position: -116px -176px;
    top: 250px;
    left: 700px;
  }
  50% {
    width: 104px;
    height: 95px;
    background-position: -116px -176px;
    top: 200px;
    left: 600px;
  }
  65% {
    width: 104px;
    height: 95px;
    background-position: -434px -182px;
    top: 100px;
    left: 500px;
  }
  75% {
    width: 104px;
    height: 95px;
    background-position: -434px -182px;
    top: 50px;
    left: 400px;
  }
  100% {
    width: 74px;
    height: 95px;
    background-position: -116px -176px;
    top: 20px;
  }
}
@keyframes duck-fly-right {
  0% {
    width: 102px;
    height: 72px;
    background-position: -680px -203px;
    top: 300px;
    left: 20px;
  }
  15% {
    width: 102px;
    height: 72px;
    background-position: -680px -203px;
    top: 300px;
    left: 100px;
  }
  25% {
    width: 104px;
    height: 61px;
    background-position: -818px -212px;
    top: 300px;
    left: 250px;
  }
  35% {
    width: 104px;
    height: 61px;
    background-position: -818px -212px;
    top: 300px;
    left: 400px;
  }
  50% {
    width: 104px;
    height: 61px;
    background-position: -680px -203px;
    top: 300px;
    left: 500px;
  }
  65% {
    width: 104px;
    height: 61px;
    background-position: -818px -212px;
    top: 300px;
    left: 600px;
  }
  75% {
    width: 104px;
    height: 61px;
    background-position: -818px -212px;
    top: 300px;
    left: 620px;
  }
  85% {
    width: 104px;
    height: 61px;
    background-position: -818px -212px;
    top: 300px;
    left: 780px;
  }
  100% {
    width: 102px;
    height: 72px;
    background-position: -680px -203px;
    top: 300px;
  }
}
@keyframes duck-fly-top-right {
  0% {
    width: 74px;
    height: 95px;
    background-position: -218px -176px;
    top: 370px;
    left: 0px;
  }
  15% {
    width: 74px;
    height: 95px;
    background-position: -218px -176px;
    top: 320px;
    left: 200px;
  }
  25% {
    width: 104px;
    height: 95px;
    background-position: -323px -182px;
    top: 300px;
    left: 400px;
  }
  35% {
    width: 104px;
    height: 95px;
    background-position: -218px -176px;
    top: 250px;
    left: 520px;
  }
  50% {
    width: 104px;
    height: 95px;
    background-position: -218px -176px;
    top: 200px;
    left: 640px;
  }
  65% {
    width: 104px;
    height: 95px;
    background-position: -323px -182px;
    top: 150px;
    left: 720px;
  }
  75% {
    width: 104px;
    height: 95px;
    background-position: -323px -182px;
    top: 80px;
    left: 790px;
  }
  85% {
    width: 104px;
    height: 95px;
    background-position: -323px -182px;
    top: 50px;
    left: 820px;
  }
  100% {
    width: 74px;
    height: 95px;
    background-position: -218px -176px;
    top: 20px;
  }
}
